body {
	font-family: verdana, arial, sans-serif;
	font-size: 12px;
	margin: 0px;
}

#header1 {
	background-color: orange;
	width: 990px;
	height: 50px;
}

#title {
	font-size: 30px;
	color: green;
	font-weight: bold;
	margin-left: 60px;
	margin-top: 6px;
	padding: 8px;
}

#header2 {
	background-color:green;
	width: 900px;
	height: 30px;
}

.rubs {
	list-style-type: none;
	font-size: 16px;
	color: green;
	margin: 0;
}

a {
	display: block;
	color: white;
	text-decoration: none;
	padding: 4px;
}

a:hover {
	background: white;
	color: #ff9900;
}

.actif {
	border-bottom: 1px solid white;
	background-color: white;
	padding: 4px;
}

/*.rubs a {
	font-size: 18px;
	font-weight: bold;
	color: yellow;
	text-decoration: none;
	margin-left: 15px;
}*/


.rubs li {
	float: left;
	margin: 2px 2px 0 2px;
	border: 1px solid black;
	background-color: #ff9900;
}

.contenu {
	margin-left: 200px;
	width: 700px;
}

.mandatory {
	color:red;
}
.myForm {

}

.label {
	width: 200px;
	display: inline-block;
}

.fieldDisplay {
	display: inline-block;
}

.fieldHidden {
	display: none;
}

.champs {
	width: 250px;
	display: inline-block;
}
